<ul class="nav nav-tabs col-md-12 tab-simple-styled" role="tablist" style="margin-top: 0;">
    <li class="nav-item term-nav-item">
        <a class="nav-link {% if data['active_link'] == 'panel_config' %}active{% end %}" href="/panel/panel_config" role="tab" aria-selected="false">
            <i class="fas fa-file-signature"></i>Panel Config</a>
    </li>
    <li class="nav-item term-nav-item">
        <a class="nav-link {% if data['active_link'] == 'config_json' %}active{% end %}" href="/panel/config_json" role="tab" aria-selected="false">
            <i class="fas fa-file-signature"></i>Config.json</a>
    </li>
    <li class="nav-item term-nav-item">
        <a class="nav-link {% if data['active_link'] == 'custom_login' %}active{% end %}" href="/panel/custom_login" role="tab" aria-selected="false">
            <i class="fas fa-file-signature"></i>Custom Login</a>
    </li>
</ul>